<!DOCTYPE html>
<html lang="en">
<head>
    <title>开源博客 —— 关于我们</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    这是基于 Go 语言的开源博客系统，如有反馈或建议，请联系 <a href="mailto:bai.zhan@qq.com">bai.zhan@qq.com</a>
</body>
</html>